<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="study" href="/tabs/study">
      <ion-icon aria-hidden="true" name="school-outline"></ion-icon>
      <ion-label>Study</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="practice" href="/tabs/practice">
      <ion-icon aria-hidden="true" name="checkmark-done-circle-outline"></ion-icon>
      <ion-label>Practice</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="centres" href="/tabs/centres">
      <ion-icon aria-hidden="true" name="location-outline"></ion-icon>
      <ion-label>Centres</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progress" href="/tabs/progress">
      <ion-icon aria-hidden="true" name="stats-chart-outline"></ion-icon>
      <ion-label>Progress</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
